@model IEnumerable<Vehiclehire.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Vehicles</h2>


@foreach (var item in Model)
{


   
    <ul class="row list-products auto-clear equal-container product-list">
        <li class="product-item style-list col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ts-12">
            <div class="product-inner equal-element">
                <div class="product-top">
                    <div class="flash">
                        <span class="onnew">
                            <span class="text">
                                new
                            </span>
                        </span>
                    </div>
                </div>
                <div class="products-bottom-content">
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="/home/productinfo?id=@item.Id">
                                <img src="~/Images/Uploads/Products/@item.Id/Thumbs/@item.ImageName" alt="img">
                            </a>
                            <a href="/home/productinfo?id=@item.Id" class="btn btn-danger">Details</a>
                        </div>
                    </div>
                    <div class="product-info-left">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <h5 class="product-name product_title">
                            <a href="/home/productinfo?id=@item.Id">@item.Name</a>
                        </h5>
                        <div class="stars-rating">
                            <div class="star-rating">
                                <span class="star-3"></span>
                            </div>
                            <div class="count-star">
                                (3)
                            </div>
                        </div>
                        <ul class="product-attributes">
                            <li>
                                Category: @item.CategoryName
                            </li>
                          
                        </ul>
                        <ul class="attributes-display">
                            <li class="swatch-color">
                                Color:@item.color
                            </li>
                        </ul>
                        <ul class="attributes-display">
                            <li class="swatch-text-label">
                                Size: 5 Seater
                            </li>
                        </ul>
                    </div>
                    <div class="product-info-right">
                        <div class="price">
                            R: @item.Price
                        </div>
                        <div class="product-list-message">
                        </div>
                        <form class="cart">
                            <div class="single_variation_wrap">
                                <div class="quantity">
                                    <div class="control">
                                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                                        <input type="text" data-step="1" data-min="0" value="1"
                                               title="Qty" class="input-qty qty" size="4">
                                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                                    </div>
                                </div>
                                <a href="/home/addtocart?id=@item.Id&link=@Request.Url.AbsoluteUri" class="single_add_to_cart_button button" >Add to Hire List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
       
    </ul>


}

