<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d0b6bf2e-8829-4e2d-b5cb-b359347d2503/resourcegroups/2021Vehiclehire/providers/Microsoft.Web/sites/2021Vehiclehire</ResourceId>
    <ResourceGroup>2021Vehiclehire</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://2021vehiclehire.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>2021vehiclehire.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>2021Vehiclehire</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$2021Vehiclehire</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Vehiclehire.Models.Db" Order="1" Enabled="True">
          <Destination Path="Data Source=2021vehiclehiredbserver.database.windows.net;Initial Catalog=2021Vehiclehire_db1;User ID=21750821;Password=&quot;TsELB,;?y2&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Vehiclehire.Models.Db, Vehiclehire" MigrationConfiguration="Vehiclehire.Migrations.Configuration, Vehiclehire" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Vehiclehire.Models.Db-Web.config Connection String">
      <ParameterValue>Data Source=2021vehiclehiredbserver.database.windows.net;Initial Catalog=2021Vehiclehire_db1;User ID=21750821;Password="TsELB,;?y2"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Vehiclehire.Models.Db" />
  </ItemGroup>
</Project>